body {
    background-color: #B1B0B0;
}

.content-body {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    transform: translateY(50%);
}

#lbl1 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 13;
    font-family: 'Inter';
}

#lbl2 {
    color: black;
    font-size: 13;
    font-family: 'Inter';
}

.btn-secondary {
    width: 35%;
    font-family: 'Inter';
    font-weight: 700;
    margin: auto;
}